<div class="card">
    <div class="card-back">
        <div class="line-numbers">
            <div>1</div>
            <div>2</div>
            <div>3</div>
            <div>4</div>
            <div>5</div>
            <div>6</div>
            <div>7</div>
            <div>8</div>
            <div>9</div>
        </div><code><span class="variable">const </span><span class="function">aboutMe </span><span class="operator">= </span><span> About.Me</span>
        <div class="indent"> <span class="property">name</span><span class="operator">: </span><span class="string">'Danilson Farisato'</span><span>,</span></div>
        <div class="indent"> <span class="property">title</span><span class="operator">: </span><span class="string">'JR Full Stack Developer'</span></div>
        <div class="indent"> <span class="property">contact</span><span class="operator">: </span><span>+353 871737547</span>
          <div class="indent"> <span class="property">email</span><span class="operator">: </span><span class="string">'info@danfaris.com'</span></div>
          <div class="indent"><span class="property">website</span><span class="operator">:</span><span class="string">'danfaris.com'</span></div>
        </div></code>
    </div>
    <div class="card-front">
        <div class="line-numbers">
            <div>1</div>
            <div>2</div>
            <div>3</div>
            <div>4</div>
            <div>5</div>
            <div>6</div>
            <div>7</div>
            <div>8</div>
            <div>9</div>
        </div><code><span class="variable">Ambicious + Creative = </span><span>Professional </span><span class="method">with a BSc in Advertising + </span><span>(</span><span class="string">'higher diploma in Comp.Science')</span><span> at National College of Ireland </span><br><span class="function">(with overall 15 years) => </span><span>of experience in entrepreneurship, business management, audiovisual editing/post-production, </span>
       <span class="variable">and 2 years experience with JAVA programming ()</span><span>.</span><span class="property">flipCard </span><span>= </span><span class="boolean">true </span><span>=> more info + </span><span> enjoy;</span></code>
    </div>
</div>