
<div class="nes-container is-dark is-rounded">
    <H3>CAREER HIGHLIGHTS</H3>
    <p>
        * Academic Knowledge: Java, javascript, Networks, Server Side development, Spring/Ruby on Rails frameworks, <br>
        Data Structure and Algorithms, SQL, Web Service and API development<br>
        * Academic foundation in computer science, with strong competencies in data structures, algorithms, complexity,
        <br>concurrency, distributed systems, and software design<br>
        * Business management experience with strong BTB and BTC client and customer relationship support
    </p>
    <app-progbar></app-progbar>
</div>

