<div class="nes-container is-dark with-title is-rounded">
    * JAVA
    <progress class="nes-progress" value="80" max="100"></progress>
    * SPRING
    <progress class="nes-progress is-success" value="75" max="100"></progress>
    * ANGULAR
    <progress class="nes-progress is-success" value="78" max="100"></progress>
    * PYTHON + SCRIPTING
    <progress class="nes-progress is-success" value="60" max="100"></progress>
    * MYSQL
    <progress class="nes-progress is-success" value="82" max="100"></progress>
    * IOT - LINUX - BASH SCRIPTING
    <progress class="nes-progress is-success" value="90" max="100"></progress>
</div>