<section class="services">
    <h2 class="heading">OUR SERVICES</h2>
    <p class="text">
        Provide my services in a pleasant, clean and relaxed environment, thus contributing to the self-esteem of people who like taking care of their appearance. Being an active reference market of whimsy, quality and punctuality in services. Ethics and integrity
        will always be above the financial objectives of the company.
    </p>
    <div class="container">
        <div class="serviceBx">
            <div>
                <img src="/assets/img/nails2.png" alt="">
                <h2>Manicure</h2>
                <p class="card">The word manicure comes from the Latin, where “manus” means hand and “cure” means treatment. Having well-cared hands is one of the greatest signs of femininity and which guarantees, in addition to elevating self-esteem, reaffirming our
                    personality according to the colours and design chosen.</p>
                <button class="btn">
                                BOOK
                            </button>
            </div>
        </div>

        <div class="serviceBx">
            <div>
                <img src="/assets/img/footwear.png" alt="">
                <h2>Hand and Foot</h2>
                <p class="card">After a stressful week at home or at work, nothing better than to unwind and relax sitting in an amazing nail studio and having your nails cleaned and massaged. Bringing the benefit of having beautiful nails and that physical and mental
                    health of relaxation.</p>
                <button class="btn">
                        BOOK
                    </button>
            </div>
        </div>


        <div class="serviceBx">
            <div>
                <img src="/assets/img/mascara.png" alt="">
                <h2>Eyebrow</h2>
                <p class="card">Besides being extremely important for reading facial expressions, eyebrows are also responsible for enhancing and reinforcing the look. Therefore, caution is needed when designing them. To achieve the harmonious result it is necessary
                    to adapt them to the shape of each face, believe in the professional.</p>
                <button class="btn">
                        BOOK
                    </button>
            </div>
        </div>

    </div>
    <button class="see-more">See More</button>
</section>