<!-- <div class="nes-container is-dark is-rounded">
    <h4>* EDUCATION *</h4>
    <p>Level 8 Higher Diploma in Science in Computing | National College of Ireland, Dublin | SEP 2017 - SEP 2018. Level 8 Bachelor degree in Marketing and Advertising | Instituto Municipal de Ensino Superior de São Caetano do Sul, São Caetano do Sul - Brazil
        | JAN 1999 - DEC 2002 Cloud Guru, Online Course — AWS Certified Developer - Associate
    </p>
</div> -->

<div class="card">
    <div class="card-back">
        <div class="line-numbers">
            <div>1</div>
            <div>2</div>
            <div>3</div>
            <div>4</div>
            <div>5</div>
            <div>6</div>
            <div>7</div>
            <div>8</div>
            <div>9</div>
        </div><code><span class="variable">const =</span><span class="function"> courses: </span><span class="operator"> 'On going'</span>
        <div class="indent"> <span class="property">name</span><span class="operator">: </span><span class="string">'Cloud Guru, Online Course'</span><span>,</span></div>
        <div class="indent"> <span class="property">title</span><span class="operator">: </span><span class="string">'AWS Certified Developer'</span></div>
        <div class="indent"> <span class="property">level</span><span class="operator">: </span><span>Associate</span>
        </div></code>
    </div>
    <div class="card-front">
        <div class="line-numbers">
            <div>1</div>
            <div>2</div>
            <div>3</div>
            <div>4</div>
            <div>5</div>
            <div>6</div>
            <div>7</div>
            <div>8</div>
            <div>9</div>
        </div>
        <code><span class="variable">EDUCATION</span>
            <p><span class="operator">Science in Computing Graduated at National College of Ireland, Dublin </span><br> Bachelor degree in Marketing and Advertising | USCS -  São Caetano do Sul - Brazil
            </p></code>
    </div>
</div>