<div class="nes-container is-dark is-rounded">
    <h3>EXPERIENCE</h3>
    <p>
        ------------------------------------------------------------------------------ <br>
        <span class="nes-text is-success">* Part Time IT Student and Security | National College of Ireland and Noonan,
            Ireland | 01/2010 - Present</span> <br>
            ------------------------------------------------------------------------------ <br>
        Relocated to Ireland in 2010 in order to improve my business English and gain international exposure. <br> In
        2013,
        I acquired my Italian citizenship, which allows me to work full time in Ireland, however, it was only in 2016
        that I decided to shift my career towards IT. Now graduated with a higher diploma in Computer Science
        at NCI and eager to improve my career further as Junior Java Developer.<br>
        ------------------------------------------------------------------------------ <br>
        <span class="nes-text is-success">* Junior Java Developer​ ​| Digifort Pty, Brazil | 02/2016 12/2016</span> <br>
        ------------------------------------------------------------------------------ <br>
        Worked remotely for Digifort Global in a project for web project www.studiosindublin.com with a focus on unit
        and functional tests, utilizing technologies such as application server TomCat, JDBC, JSP, JQuery, AJAX,
        javaScript,
        CSS and MySQL, the app is working on the AWS
        Designed and developed high-volume, low-latency applications for mission-critical systems and delivering
        high-availability
        and performance
        Contributed in all phases of the development lifecycle
        Wrote well designed, testable, efficient code. Ensured designs are in compliance with specifications
        Prepared and produced releases of software components
        Supported continuous improvement by investigating alternatives and technologies and presenting these for
        architectural review <br>
        ------------------------------------------------------------------------------ <br>
        <span class="nes-text is-success">* Audio Video Engineer & Entrepreneur | The pit Studio, Brazil | 01/ 2000 -
            12/2009</span> <br>
            ------------------------------------------------------------------------------ <br>
        Ran own company and all activities related to the business of video Production, and video Post-Production
        workflow
        Developed goals and objectives for company growth and prosperity. Organized and coordinated operations in ways
        that ensure
        maximum productivity
        Designed and implemented business plans and strategies to promote the attainment of goals
        Ensured that the company had adequate and suitable resources to complete its activities (e.g. people, material,
        equipment etc.)
        Supervise the work of employees and provide feedback and counsel to improve efficiency and effectiveness
        Maintained relationships with partners/vendors/suppliers
        Gathered, analyzed and interpreted external and internal data and write reports. Assessed overall company
        performance against
        objectives
        Created sounds effects and more subtle sounds to enhance mood and feeling
        Managed the sound post production process
        Assessed the acoustics of the performance area and assemble and operate the necessary equipment
        Consulted with producers and performers to determine the sound requirements
        Selected, positioned, adjusted and operated the equipment used for amplification and recording
        Managed the post-production workflow and crew for all assigned shows including but not limited to scheduling and
        overseeing
        sound mixing, editing and other post-production processes
        Coordinated with Production team to develop the post-production timeline for all assigned shows
        Posted content online for client review as well as delivering raw and finished content to clients and/or
        trafficking outlets
    </p>
</div>
